<!-- templates/base.html -->
<!-- Base file for inheritance between templates -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Journal</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
            <a class="navbar-brand" href="{% url 'home' %}">Journal</a>
            <button class="btn btn-success ml-2" type="button">
                <a href="{% url 'entry_create' %}">
                New Entry</a></button>
            <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
    </html>